@charset "UTF-8";
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0px;
    padding: 0px;
}

body, html{
    background-color: rgba(209, 127, 127, 0.829);
}

header{
    background-color:rgb(199, 161, 161);

}
 
header > h1{
    padding: 10px;
    text-align: center;
   
    color: white;
}

#burguer{
    background-color:rgba(114, 59, 59, 0.664);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#burguer:hover{
    background-color: rgba(255, 255, 255, 0.76);
    color: brown;
}

menu{
    display: none;
}

menu > ul{
    list-style-type:none ;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgba(180, 23, 23, 0.699);
    color: white;
    border-top: 2px solid rgba(0, 0, 0, 0.74);
}

menu > ul > li > a:hover{
    background-color: rgb(197, 91, 91);
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2{
    padding-bottom: 20px;

}

article > p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}